<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>智能化醫療臨場服務媒合系統</title>
      <link rel="shortcut icon" type="image/x-icon" href="<%= BASE_URL %>/assets/img/favicon.ico" />
      <script src="<%= BASE_URL %>/assets/bootstrap/js/popper.min.js"></script>
      <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
      <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
      <script src="https://cdn.jsdelivr.net/npm/echarts-amap/dist/echarts-amap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
  </head>
  <body>

  <script src=<%= BASE_URL %>/tinymce4.7.5/tinymce.min.js></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->







  <!-- Latest jQuery -->
  <script src="<%= BASE_URL %>/assets/js/jquery-2.2.4.min.js"></script>
  <!-- popper js -->

  <!-- Latest compiled and minified Bootstrap -->
  <script src="<%= BASE_URL %>/assets/bootstrap/js/bootstrap.min.js"></script>
  <!-- meanmenu min js  -->
  <script src="<%= BASE_URL %>/assets/js/jquery.meanmenu.min.js"></script>
  <!-- Sticky JS -->
  <script src="<%= BASE_URL %>/assets/js/jquery.sticky.js"></script>
  <!-- gijgo js  -->
  <script src="<%= BASE_URL %>/assets/js/gijgo.js"></script>
  <!-- owl-carousel min js  -->
  <script src="<%= BASE_URL %>/assets/owlcarousel/js/owl.carousel.min.js"></script>
  <!-- jquery appear js  -->
  <script src="<%= BASE_URL %>/assets/js/jquery.appear.js"></script>
  <!-- countTo js -->
  <script src="<%= BASE_URL %>/assets/js/jquery.inview.min.js"></script>
  <!-- jquery mixitup js -->
  <script src="<%= BASE_URL %>/assets/js/jquery.mixitup.min.js"></script>
  <!-- venobox js -->
  <script src="<%= BASE_URL %>/assets/venobox/js/venobox.min.js"></script>
  <!-- scrolltopcontrol js -->
  <script src="<%= BASE_URL %>/assets/js/scrolltopcontrol.js"></script>
  <!-- WOW - Reveal Animations When You Scroll -->
  <script src="<%= BASE_URL %>/assets/js/wow.min.js"></script>
  <!-- scripts js -->
  <script src="<%= BASE_URL %>/assets/js/scripts.js"></script>
  </body>
</html>
